.crossLabel-container {
    position: relative;
    /*set to checkmark width*/
    width: 23px; 
    margin-bottom: 0;
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.crossLabel-container input {
    opacity: 0;
    cursor: pointer;
    height: 0.1px;
    width: 0.1px;
}

.checkmarkCross {
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    height: 23px;
    width: 23px;
    background-color: rgb(52, 58, 64);
}

.crossLabel-container:hover .checkmarkCross {
  background-color: rgba(52, 58, 64, .7);
}

/* When the checkbox is checked, add a blue background */
/*.checkLabel-container input:checked ~ .checkmarkCross {
    background-color: #2196F3;
}*/

.checkmarkCross:before {
    content: "";
    position: absolute;
    display: none;
}

.checkmarkCross:after {
    content: "";
    position: absolute;
    display: none;
}

.crossLabel-container input:checked ~ .checkmarkCross:before {
    display: block;
}

.crossLabel-container input:checked ~ .checkmarkCross:after {
    display: block;
}

.crossLabel-container .checkmarkCross:before {
    left: 6.5px;
    top: 1.5px;
    width: 10px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.crossLabel-container .checkmarkCross:after {
    left: 6.5px;
    top: 11.5px;
    width: 10px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}