.panelInnerPaddingWrapper {
	padding: .75rem;
	display: flex;
}

.panel {
	max-height: 0px !important;
	opacity: 0 !important;
}

.panelInner {

	/*border-width: 1px;
	border-color: red;
	border-style: solid;*/
	opacity: 1;
	max-height: 200px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	display: flex;
	transition: .25s ease-out;
}

.chartDiv {
	display: inline-block;
	/*margin-right: 50px;*/
}

.attrDiv {
	/*padding: .75rem;*/
	max-width: 400px;
	display: flex;
	flex-wrap: wrap !important;
}

.attrItemDiv {
	min-width: 150px;
}